doctype html
html
  head
    title
      | QSMK
    meta charset="UTF-8"
    scss:
      body {
        height: 100%;
        width: 100%;
      }
      .background-fl-image {
        z-index: -1;
        position: absolute;
      }
      .aircraft-number {
        position: absolute;
        top: 80px;
        left: 50px;
        h3 {
          font-size: 45px;
        }
      }
      .location {
        position: absolute;
        top: 95px;
        left: 680px;
        h3 {
          font-size: 35px;
        }
      }
      .fl-date {
        position: absolute;
        top: 110px;
        left: 1080px;
        h3 {
          font-size: 25px;
        }
      }
      .fl-log-number {
        position: absolute;
        top: 95px;
        left: 1430px;
        h3 {
          font-size: 35px;
        }
      }
      .ac-clean {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 285px;
        left: 128px;
        background: yellow;
        border-radius: 50%;
        opacity: 0.5;
      }
      .ac-smoke {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 280px;
        left: 260px;
        background: yellow;
        border-radius: 50%;
        opacity: 0.5;
      }
      .ac-third-seat {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 280px;
        left: 408px;
        background: yellow;
        border-radius: 50%;
        opacity: 0.5;
      }
      .ac-cockpit-single {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 235px;
        left: 574px;
        background: yellow;
        border-radius: 50%;
        opacity: 0.5;
      }
      .ac-cockpit-dual {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 300px;
        left: 574px;
        background: yellow;
        border-radius: 50%;
        opacity: 0.5;
      }
      .ac-signature {
        position: absolute;
        left: 128px;
        top: 400px;
        img {
          height: 60px;
        }
      }
      .fl-fuel-remaining {
        position: absolute;
        top: 500px;
        left: 100px;
        h3 {
          font-size: 35px;
        }
      }
      .fl-fuel-refill {
        position: absolute;
        top: 500px;
        left: 330px;
        h3 {
          font-size: 35px;
        }
      }
      .fl-fuel-oil-remaining {
        position: absolute;
        top: 500px;
        left: 570px;
        h3 {
          font-size: 35px;
        }
      }
      .fl-fuel-oil-serviced {
        position: absolute;
        top: 500px;
        left: 780px;
        h3 {
          font-size: 35px;
        }
      }
      .fl-fuel-oil-quantity {
        position: absolute;
        top: 500px;
        left: 1000px;
        h3 {
          font-size: 35px;
        }
      }
      .fl-flightline-release-time {
        position: absolute;
        top: 610px;
        left: 1300px;
        h3 {
          font-size: 35px;
        }
      }
      .fl-flightline-release-personal-code {
        position: absolute;
        top: 610px;
        left: 1600px;
        h3 {
          font-size: 35px;
        }
      }
      .fl-flightline-release-signature {
        position: absolute;
        top: 635px;
        left: 1840px;
        img {
          height: 60px;
        }
      }
      .fl-flightline-servicing {
        .pre {
          position: absolute;
          top: 245px;
        }
        .thru {
          position: absolute;
          top: 321px;
        }
        .post {
          position: absolute;
          top: 401px;
        }
        .circle {
          position: absolute;
          height: 50px;
          width: 50px;
          left: 836px;
          background: yellow;
          border-radius: 50%;
          opacity: 0.5;
        }
        .start-time {
          position: absolute;
          left: 1026px;
          h3 {
            font-size: 25px;
          }
        }
        .end-time {
          position: absolute;
          left: 1176px;
          h3 {
            font-size: 25px;
            width: 100%;
          }
        }
        .personal-code {
          position: absolute;
          left: 1376px;
          h3 {
            font-size: 25px;
          }
        }
        .hyd {
          position: absolute;
          left: 1596px;
          h3 {
            font-size: 25px;
          }
        }
        .signature {
          position: absolute;
          left: 1896px;
          img {
            height: 60px;
          }
        }
      }
      .fl-aircraft-total-time {

        h3 {
          font-size: 35px;
        }
        .carried-over {
          position: absolute;
          top: 730px;
        }
        .sortie {
          position: absolute;
          top: 800px;
        }
        .correction {
          position: absolute;
          top: 950px;
        }
        .new-total {
          position: absolute;
          top: 880px;
        }
        .corrected-total {
          position: absolute;
          top: 1040px;
        }
        .engine-hours {
          position: absolute;
          left: 1470px;
        }
        .aircraft-hours {
          position: absolute;
          left: 1740px;
        }
        .landings {
          position: absolute;
          left: 1970px;
        }
        .prop-hours {
          position: absolute;
          left: 2170px;
        }
      }
  body
    .background-fl-image
      = wicked_pdf_image_tag('flying-log.jpg')
    =yield