//colors
$color_woodsmoke_approx: #111;
$white: #fff;
$color_pigeon_post_approx: #b0bed9;
$color_alto_approx: #ddd;
$color_alabaster_approx: #f9f9f9;
$color_casper_approx: #abb9d3;
$color_wild_sand_approx: #f5f5f5;
$seashell: #f1f1f1;
$color_concrete_approx: #f3f3f3;
$color_rock_blue_approx: #a6b3cd;
$color_romance_approx: #fdfdfd;
$color_gray_nurse_approx: #eaeaea;
$color_cararra_approx: #ebebeb;
$color_gallery_approx: #eee;
$color_mine_shaft_approx: #333;
$color_pumice_approx: #cacaca;
$color_storm_dust_approx: #666;
$color_chicago_approx: #585858;
$color_baltic_sea_approx: #2b2b2b;
$color_cod_gray_approx: #0c0c0c;
$white_90: rgba(255, 255, 255, 0.9);