//urls
$url_0: url(asset-path("admin/sort_both"));
$url_1: url(asset-path("admin/sort_asc"));
$url_2: url(asset-path("admin/sort_desc"));
$url_3: url(asset-path("admin/sort_asc_disabled"));
$url_4: url(asset-path("admin/sort_desc_disabled"));
$url_5: url(asset-path("admin/filer"));
