//urls
$url_0: url(asset-path("admin/sort_both.png"));
$url_1: url(asset-path("admin/sort_asc.png"));
$url_2: url(asset-path("admin/sort_desc.png"));
$url_3: url(asset-path("admin/sort_asc_disabled.png"));
$url_4: url(asset-path("admin/sort_desc_disabled.png"));
$url_5: url(asset-path("admin/filer.png"));
