@mixin position-abs-mixin($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}
.techlog_pdf {
  font-size: 48px;
  .background-image {
    z-index: -1;
    position: absolute;
  }  
  .tl-aircraft-number {    
    @include position-abs-mixin(170px, 70px);            
  }
  .tl-location_from {    
    @include position-abs-mixin(170px, 1040px);        
  }
  .tl-location_to {    
    @include position-abs-mixin(170px, 1300px);                
  }
  .tl-log_date {
    @include position-abs-mixin(170px, 1650px);
  }
  .tl-log_time {
    @include position-abs-mixin(170px, 2200px);
    
  }
  .tl-description {
    @include position-abs-mixin(550px, 60px);    
    p {
      font-size: 45px;
      width: 1500px;
    }
  }
  .tl-log-number {
    position: absolute;
    top: 95px;
    left: 1630px;
    h3 {
      font-size: 45px;
    }
  }  
}
