@mixin position-abs-mixin($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}
.inspection_pdf {
  font-size: 26px;  
  .background-image {
    z-index: -1;
    position: absolute;
  }
  
  .tl-org {    
    @include position-abs-mixin(100px, 1200px);        
  }
  .tl-aircraft-number {        
    @include position-abs-mixin(100px, 2170px);            
  }
  .tl-crew_chief {
    @include position-abs-mixin(100px, 845px);
  }
  .aircraft-inspection{
    @include position-abs-mixin(247px, 60px);    
    div {      
      height: 20px;
      line-height: 20px;
      &.td-type{
        width: 210px;
        text-align: left;
        float: left;
      }
      &.td-freq{
        width: 212px;
        text-align: center;
        float: left;
      }    
      &.td-comple{
        width: 215px;
        text-align: center;
        float: left;
        // border: solid 1px;
      }      
    }
    
  }
  .engine-inspection{
    @include position-abs-mixin(500px, 55px);    
    .td-part_number{
      width: 210px;
      text-align: left;
    }
    .td-serial{
      width: 410px;
      text-align: center;
    }
    .td-freq{
      width: 110px;
      text-align: center;
    }
    .td-comple{
      width: 100px;
      text-align: center;
    }
    .td-change{
      width: 300px;
      text-align: center;
    }
  }
  .proppeller-inspection{
    @include position-abs-mixin(495px, 1250px);    
    .td-part_number{
      font-size: 18px;
      width: 240px;
      text-align: left;
    }
    .td-serial{
      width: 290px;
      text-align: center;
    }
    .td-freq{
      width: 220px;
      text-align: center;
    }
    .td-comple{
      width: 210px;
      text-align: center;
    }
    .td-change{
      width: 200px;
      text-align: center;
    }
  }
  .rest-inspection{
    @include position-abs-mixin(900px, 55px);   
    td {
      height: 19px;
      &.td-type{
        width: 630px;
        text-align: left;        
      }    
      &.td-comple{
        width: 216px;
        text-align: center;
      }
    } 
    
  }
  
  
  
}