@mixin position-abs-mixin($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}
.airframe_pdf {
  font-size: 30px;
  .background-image {
    z-index: -1;
    position: absolute;
  }
  .tl-date_from {    
    @include position-abs-mixin(80px, 280px);    
  }
  .tl-date_to {    
    @include position-abs-mixin(80px, 600px);
  }  
  .tl-crew_chief {    
    @include position-abs-mixin(80px, 900px);
  }
  .tl-org {    
    @include position-abs-mixin(80px, 1400px);        
  }
  .tl-location {        
    @include position-abs-mixin(80px, 1900px);                
  }
  .tl-aircraft-number {        
    @include position-abs-mixin(80px, 2170px);            
  }
  
  
  
  .previous_table {
    @include position-abs-mixin(285px, 265px);
  }
  .flying_date_td{
    width: 220px;      
    .day{
      width: 60px;
      float: left;      
      text-align: center;
    }
    .month{
      width: 80px;
      float: left;
      text-align: center; 
    }
    .year{
      text-align: center; 
    }
  }
  .airframe_td{
    width: 315px;
    text-align: center;    
  }
  .engine_td{
    width: 245px;
    text-align: center;    
  }
  .ehr_td{
    width: 260px;
    text-align: center;
  }
  .flying_log_td{
    width: 250px;
    font-size: 22px;
  }
  .landings_td{
    width: 250px;    
    text-align: center;
  }
  .touchgo_td{
    width: 150px;    
    text-align: center;
  }
  .epu_td{
    width: 150px;
  }
  .t_landings_td{
    width: 240px;      
    text-align: center; 
  }
  .remarks{
    width: 240px;      
    font-size: 20px;
  }
  .histories_data{
    @include position-abs-mixin(340px, 30px);
    position: relative;
  }
  table{
    tr {
      height: 50px;
      
    }
  }
  
  
  
    
}
