/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require select2
 *= require select2-bootstrap
 
 *= require_self
 
 */
.pagination li a {
	outline: none;
	background-color: #fff;
}

.select2-search__field, .select2-container .select2-selection--single {
	outline: none;
	height: 34px;
}

.brands-sort-list-item {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  margin: 0 3px 3px 3px;
  padding-left: 1.5em;
	cursor: pointer;
}
.box-body h5{
  font-weight: bold;
  font-size: 15px;
}
.box-body label{
  font-size: 13px;
}